@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Parisienne&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

button {
  transition: 0.1s;
}
button:hover {
  transform: scale(1.1);
}

:root {
  --navbar_height: 10vh;
  --ratio: 1.25;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --background_color: #ebecf8;
  --header_bar_color: #ffe5d8;
  --box_shadow_color: #e9b3a3;
  --font-family-1: "Dancing Script", serif;
  --font-family-2: "Parisienne", cursive;
  --font-family-3: "Courier New", Courier, monospace;
}

.app > * {
  height: 100vh;
  padding: calc(var(--navbar_height) + 20px) 20px 0 20px;
  background-color: var(--background_color);
}
@media (min-width: 480px) {
  .app > * {
    padding: calc(var(--navbar_height) + 20px) 20% 0 20%;
  }
}
.app .welcome {
  background: url(../public/background.webp);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
  -webkit-animation: fadeOut 2s forwards;
          animation: fadeOut 2s forwards;
}
@-webkit-keyframes fadeOut {
  99% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100vw);
  }
}
@keyframes fadeOut {
  99% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100vw);
  }
}
.app .header {
  height: var(--navbar_height);
  padding-top: 0;
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: var(--header_bar_color);
  background-position: center;
  background-size: cover;
  line-height: var(--navbar_height);
  text-align: center;
  box-shadow: 0px 5px 10px var(--box_shadow_color);
  transform: translateY(calc(-1 * var(--navbar_height)));
  -webkit-animation: slideDown 1s forwards 1s;
          animation: slideDown 1s forwards 1s;
  z-index: 1;
}
@-webkit-keyframes slideDown {
  to {
    transform: translate(0);
  }
}
@keyframes slideDown {
  to {
    transform: translate(0);
  }
}
.app .header .header-toggle_button {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  left: var(--s-2);
  top: 50%;
  transform: translateY(-50%);
  padding: var(--s-2);
  border-radius: 50%;
  color: white;
  transition: all 0.3s;
  overflow: hidden;
  aspect-ratio: 1/1;
}
@media (min-width: 480px) {
  .app .header .header-toggle_button {
    padding: var(--s0);
  }
}
.app .header .header-toggle_button .bar1,
.app .header .header-toggle_button .bar2,
.app .header .header-toggle_button .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}
.app .header .header-toggle_button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  z-index: -2;
}
.app .header .header-toggle_button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #bfbfbf;
  transition: all 0.3s;
  border-radius: 50%;
  z-index: -1;
}
.app .header .header-toggle_button:hover {
  color: white;
}
.app .header .header-toggle_button:hover:before {
  width: 100%;
}
.app .header .header-toggle_button .bar1on {
  transform: translate(0, 11px) rotate(-45deg);
}
.app .header .header-toggle_button .bar2on {
  opacity: 0;
}
.app .header .header-toggle_button .bar3on {
  transform: translate(0, -11px) rotate(45deg);
}
.app .header .header-brand_name {
  font-family: var(--font-family-1);
  font-weight: 700;
  background-image: linear-gradient(-225deg, #89cbff 0%, #846a50 15%, #89cbff 35%, #846a50 50%, #89cbff 65%, #846a50 80%, #89cbff 100%);
  background-size: 200%;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 3s linear infinite;
          animation: textclip 3s linear infinite;
}
@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@media (min-width: 480px) {
  .app .header .header-brand_name {
    font-size: var(--s3);
  }
}
.app .header .header-ul {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background: url(../public/menu.webp);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--s5);
  justify-content: space-around;
  transform: translate(-100vw, -100vh);
  -webkit-animation: dropDown 1s forwards ease-in-out;
          animation: dropDown 1s forwards ease-in-out;
  box-shadow: 30px 70px 80px #030300;
  border-radius: 15px 60%;
  overflow: hidden;
}
.app .header .header-ul::after {
  content: "";
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: #333;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
}
@-webkit-keyframes dropDown {
  to {
    transform: translate(0, 0);
  }
}
@keyframes dropDown {
  to {
    transform: translate(0, 0);
  }
}
.app .header .header-ul .header-li {
  text-decoration: none;
  padding: var(--s3);
  margin: var(--s1);
  color: white;
  font-weight: 700;
}
.app .header .header-ul .header-li:hover {
  transition: 1s;
  -webkit-backdrop-filter: invert(90%);
          backdrop-filter: invert(90%);
  border-radius: 15% 50% 50% 60%;
  color: black;
}
.app .header .profile_img {
  width: var(--navbar_height);
  padding: 10px;
  right: 0;
  top: 0;
  aspect-ratio: 1/1;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}
.app .home {
  position: relative;
  z-index: 0;
}
.app .home .home-welcome {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: var(--s2);
  font-family: var(--font-family-2);
}
.app .home .home-buttons {
  padding-top: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.app .home .home-buttons .round_button:nth-child(odd) {
  transform: translateX(-100vw);
  -webkit-animation: flyInLeft 1s forwards 1s;
          animation: flyInLeft 1s forwards 1s;
}
@-webkit-keyframes flyInLeft {
  to {
    transform: translateX(0);
  }
}
@keyframes flyInLeft {
  to {
    transform: translateX(0);
  }
}
.app .home .home-buttons .round_button:nth-child(even) {
  transform: translateX(100vw);
  -webkit-animation: flyInRight 1s forwards 1s;
          animation: flyInRight 1s forwards 1s;
}
@-webkit-keyframes flyInRight {
  to {
    transform: translateX(0);
  }
}
@keyframes flyInRight {
  to {
    transform: translateX(0);
  }
}
.app .home .home-buttons .round_button .round_button-caption {
  text-align: center;
  padding-bottom: 10px;
  font-family: var(--font-family-3);
  font-size: var(--s1);
}
.app .home .home-buttons .round_button .round_button-img {
  width: 35vw;
  max-width: 200px;
  min-width: 150px;
  border-radius: 50%;
  box-shadow: 2px 10px 20px var(--box_shadow_color);
  transition: 0.5s;
  cursor: pointer;
}
.app .home .home-buttons .round_button .round_button-img:hover {
  transform: scale(115%);
  box-shadow: none;
}
.app .service {
  position: relative;
}
.app .service h1 {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: var(--s3);
  font-family: var(--font-family-3);
}
.app .service .service-rows {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  max-width: 700px;
  margin: auto;
  height: 100%;
}
.app .service .service-rows .service-row-1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.app .service .service-rows .service-row-2 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.app .service .service-rows .service-row-3 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.app .service .service-rows > * {
  -webkit-animation: shrinkIn 1s forwards;
          animation: shrinkIn 1s forwards;
  transform: scale(1.5);
  display: flex;
  justify-content: space-between;
}
@-webkit-keyframes shrinkIn {
  to {
    transform: scale(1);
  }
}
@keyframes shrinkIn {
  to {
    transform: scale(1);
  }
}
.app .service .service-rows > * .service-row-desc {
  font-size: var(--s-1);
  font-family: var(--font-family-3);
  padding: 40px 10px 0 10px;
  text-align: center;
}
@media (min-width: 600px) {
  .app .service .service-rows > * .service-row-desc {
    font-size: var(--s0);
    padding: 40px 30px 0 30px;
  }
}
.app .service .service-rows > * .round_button_to_cal-caption {
  text-align: center;
  font-family: var(--font-family-1);
}
.app .service .service-rows > * a img {
  border-radius: 50%;
  box-shadow: 2px 10px 20px var(--box_shadow_color);
  transition: 0.5s;
}
.app .service .service-rows > * a img:hover {
  transform: scale(115%);
  box-shadow: none;
}
@media (min-width: 600px) {
  .app .service .service-rows > * a img {
    width: 180px;
  }
}
.app .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
@media (min-width: 480px) {
  .app .contact {
    gap: 10%;
    padding-bottom: 200px;
    flex-direction: row;
  }
}
.app .contact .contact-form {
  display: flex;
  flex-direction: column;
}
.app .contact .contact-form textarea {
  height: 50px;
}
.app .contact .contact-form > * {
  padding: 5px;
  margin: 5px;
}
@media (min-width: 480px) {
  .app .contact .contact-form > * {
    padding: 10px;
    margin: 15px;
  }
}
.app .contact .contact-resource iframe {
  aspect-ratio: 2/1;
  max-height: 200px;
}
.app .contact .contact-resource .contact-resource-info {
  border: 1px solid black;
  border-radius: 10px;
}
@media (min-width: 480px) {
  .app .contact .contact-resource .contact-resource-info {
    margin-bottom: 50px;
  }
}
.app .contact .contact-resource .contact-resource-info > * {
  padding: 5px;
}
.app .authentication h2 {
  text-align: center;
  transform: translateY(20px);
}
.app .authentication .authentication-box {
  background-color: var(--header_bar_color);
  border: 10px dotted var(--box_shadow_color);
  padding: var(--s-1);
  max-width: 400px;
  height: 300px;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.app .authentication .authentication-box form fieldset {
  padding: var(--s-1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.app .authentication .authentication-box form fieldset legend {
  text-align: center;
  font-size: var(--s2);
  font-family: var(--font-family-3);
}
.app .authentication .authentication-box form fieldset input {
  padding: 3px;
}
.app .authentication .authentication-box form fieldset button {
  padding: 5px;
  width: 120px;
  margin: auto;
  cursor: pointer;
  font-family: var(--font-family-3);
}
.app .authentication .authentication-box .authentication-box-bottom div {
  text-align: center;
  margin-bottom: 10px;
  font-family: var(--font-family-3);
}
.app .authentication .authentication-box .authentication-box-bottom button {
  cursor: pointer;
  padding: 5px;
  display: block;
  margin: auto;
  width: 170px;
  font-family: var(--font-family-3);
}
.app .profile .profile-top {
  background-color: var(--header_bar_color);
  border: 10px dotted var(--box_shadow_color);
  padding: var(--s-1);
  max-width: 500px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.app .profile .profile-top .profile-top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.app .profile .profile-top .profile-top-header .profile-top-user_email {
  font-size: var(--s2);
}
.app .profile .profile-top .profile-top-header .profile_img {
  width: var(--navbar_height);
  padding: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
}
.app .profile .profile-top .profile-top-user_info {
  padding: 10px;
}
.app .profile .profile-top .profile-top-user_info > * {
  padding: 5px;
  font-weight: bold;
  font-size: var(--s1);
  font-family: var(--font-family-3);
}
.app .profile .profile-top .profile-top-button_set {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.app .profile .profile-top .profile-top-button_set button {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--box_shadow_color);
  border: 3px dotted var(--header_bar_color);
}
.app .update_info_box {
  background-color: var(--header_bar_color);
  border: 10px dotted var(--box_shadow_color);
  padding: var(--s-1);
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  -webkit-animation: slideUp 1s forwards;
          animation: slideUp 1s forwards;
}
@-webkit-keyframes slideUp {
  to {
    transform: translateY(-310px);
  }
}
@keyframes slideUp {
  to {
    transform: translateY(-310px);
  }
}
.app .update_info_box .update_info_box-close_btn {
  position: absolute;
  right: -10px;
  top: -10px;
  font-weight: bold;
  font-size: var(--s2);
  cursor: pointer;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--background_color);
  border: 3px dotted var(--box_shadow_color);
}
.app .update_info_box .update_info_box-user_info {
  margin-top: 10px;
  padding: 10px;
}
.app .update_info_box .update_info_box-user_info > * {
  padding: 5px;
  font-weight: bold;
  font-size: var(--s1);
  font-family: var(--font-family-3);
}
.app .update_info_box .update_info_box-button_set {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.app .update_info_box .update_info_box-button_set button {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--box_shadow_color);
  border: 3px dotted var(--header_bar_color);
}/*# sourceMappingURL=index.css.map */