@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Parisienne&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --navbar_height: 10vh;
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --background_color: #ebecf8;
  --header_bar_color: #ffe5d8;
  --box_shadow_color: #e9b3a3;
}

.app > * {
  height: 100vh;
  padding-top: calc(var(--navbar_height) + 20px);
}
.app .welcome {
  background: url(../public/background.webp);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
  -webkit-animation: fadeOut 2s forwards;
          animation: fadeOut 2s forwards;
}
@-webkit-keyframes fadeOut {
  99% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100vw);
  }
}
@keyframes fadeOut {
  99% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100vw);
  }
}
.app .home {
  background-color: var(--background_color);
  position: relative;
  z-index: 0;
}
.app .home .home-welcome {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: var(--s1);
  font-family: "Parisienne", cursive;
}
.app .home .home-buttons {
  padding-top: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.app .home .home-buttons .round_button:nth-child(odd) {
  transform: translateX(-100vw);
  -webkit-animation: flyInLeft 1s forwards 1s;
          animation: flyInLeft 1s forwards 1s;
}
@-webkit-keyframes flyInLeft {
  to {
    transform: translateX(0);
  }
}
@keyframes flyInLeft {
  to {
    transform: translateX(0);
  }
}
.app .home .home-buttons .round_button:nth-child(even) {
  transform: translateX(100vw);
  -webkit-animation: flyInRight 1s forwards 1s;
          animation: flyInRight 1s forwards 1s;
}
@-webkit-keyframes flyInRight {
  to {
    transform: translateX(0);
  }
}
@keyframes flyInRight {
  to {
    transform: translateX(0);
  }
}
.app .home .home-buttons .round_button .round_button-caption {
  text-align: center;
  padding-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
}
.app .home .home-buttons .round_button .round_button-img {
  width: 35vw;
  max-width: 200px;
  min-width: 150px;
  border-radius: 50%;
  box-shadow: 2px 10px 20px var(--box_shadow_color);
  transition: 0.5s;
  cursor: pointer;
}
.app .home .home-buttons .round_button .round_button-img:hover {
  transform: scale(115%);
  box-shadow: none;
}
.app .header {
  height: var(--navbar_height);
  padding-top: 0;
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: var(--header_bar_color);
  background-position: center;
  background-size: cover;
  line-height: var(--navbar_height);
  text-align: center;
  box-shadow: 0px 5px 10px var(--box_shadow_color);
  transform: translateY(calc(-1 * var(--navbar_height)));
  -webkit-animation: slideDown 1s forwards 1s;
          animation: slideDown 1s forwards 1s;
  z-index: 1;
}
@-webkit-keyframes slideDown {
  to {
    transform: translate(0);
  }
}
@keyframes slideDown {
  to {
    transform: translate(0);
  }
}
.app .header .header-toggle_button {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  left: var(--s-2);
  top: 50%;
  transform: translateY(-50%);
  padding: var(--s-2);
  border-radius: 50%;
  color: white;
  transition: all 0.3s;
  overflow: hidden;
  aspect-ratio: 1/1;
}
@media (min-width: 480px) {
  .app .header .header-toggle_button {
    padding: var(--s0);
  }
}
.app .header .header-toggle_button .bar1,
.app .header .header-toggle_button .bar2,
.app .header .header-toggle_button .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}
.app .header .header-toggle_button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  z-index: -2;
}
.app .header .header-toggle_button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #bfbfbf;
  transition: all 0.3s;
  border-radius: 50%;
  z-index: -1;
}
.app .header .header-toggle_button:hover {
  color: white;
}
.app .header .header-toggle_button:hover:before {
  width: 100%;
}
.app .header .header-toggle_button .bar1on {
  transform: translate(0, 11px) rotate(-45deg);
}
.app .header .header-toggle_button .bar2on {
  opacity: 0;
}
.app .header .header-toggle_button .bar3on {
  transform: translate(0, -11px) rotate(45deg);
}
.app .header .header-brand_name {
  font-size: var(--s1);
  font-family: "Dancing Script", serif;
  font-weight: 700;
  background-image: linear-gradient(-225deg, #89cbff 0%, #846a50 15%, #89cbff 35%, #846a50 50%, #89cbff 65%, #846a50 80%, #89cbff 100%);
  background-size: 200%;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 3s linear infinite;
          animation: textclip 3s linear infinite;
}
@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@media (min-width: 480px) {
  .app .header .header-brand_name {
    font-size: var(--s2);
  }
}
.app .header .header-ul {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background: url(../public/menu.webp);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--s3);
  justify-content: space-around;
  transform: translate(-100vw, -100vh);
  -webkit-animation: dropDown 1s forwards ease-in-out;
          animation: dropDown 1s forwards ease-in-out;
  box-shadow: 30px 70px 80px #030300;
  border-radius: 15px 60%;
  overflow: hidden;
}
.app .header .header-ul::after {
  content: "";
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: #333;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
}
@-webkit-keyframes dropDown {
  to {
    transform: translate(0, 0);
  }
}
@keyframes dropDown {
  to {
    transform: translate(0, 0);
  }
}
.app .header .header-ul .header-li {
  text-decoration: none;
  padding: var(--s3);
  margin: var(--s1);
  color: white;
  font-weight: 700;
}
.app .header .header-ul .header-li:hover {
  transition: 1s;
  -webkit-backdrop-filter: invert(90%);
          backdrop-filter: invert(90%);
  border-radius: 15% 50% 50% 60%;
  color: black;
}
.app .header .profile_img {
  width: var(--navbar_height);
  padding: 10px;
  right: 0;
  top: 0;
  aspect-ratio: 1/1;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */